<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="container">
  <h2>Upload Document</h2>
  <form enctype="multipart/form-data">
    <!-- <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" name="name"  >
    </div> -->
    <div class="form-group">
      <label for="file">File:</label>
      <input type="file" class="form-control" name="file" ng2FileSelect [uploader]="uploader"  >
    </div>
    <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()" 
  [disabled]="!uploader.getNotUploadedItems().length">Upload</button>
  </form>
</div>

<div class="container">
  <h2>Fill the Document</h2>
  <form (ngSubmit)="SubForm()" class="editor" onsubmit="return false;" style="margin: 50px 0;">
    <div [innerHTML]="final"></div>
    <button class="btn btn-primary update" type="submit">Update</button>
  </form>
</div>


<router-outlet></router-outlet>
